Package: com.datlt-2k2.test-tweak
Name: TestTweak
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Le Tien Dat
Author: Le Tien Dat
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
